<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stock_list.css' %}">
</head>
{% block content %}
  <h2>Select a Stock from Nifty 50</h2>
  
  <table>
    <thead>
      <tr>
        <th>Stock</th>
        <th>Ticker</th>
        <th>Price</th>
        <th>Market Cap</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in nifty_50_stocks %}
        <tr>
          <td><a href="{% url 'stock_detail' stock.id %}">{{ stock.name }}</a></td>
          <td>{{ stock.symbol }}</td>
          <td>₹{{ stock.price }}</td>
          <td>₹{{ stock.market_cap }}</td>
          <td>
            <a href="{% url 'add_to_portfolio' %}">Add new stock to portfolio</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'stock_portfolio' %}">View your portfolio</a>

{% endblock %}
