<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Transaction</title>
</head>
<body>
    <div class="container">
        <h1>Delete Budget</h1><h2>Are you sure you want to delete this transaction?</h2>
        <p>Details: {{ object.details }}</p>
        <p>Amount: ₹{{ object.amount|floatformat:2 }}</p>
        <p>Category: {{ object.get_category }}</p>
        
        <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
        <a href="{% url 'chart' %}">Cancel</a>
        </form>
    </div>
</body>
</html>
